@import "../../responsive/mixins";

.gpt3__blog-container_article {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-footer);

  &-image {
    width: 100%;
    height: 100%;
    background: var(--color-footer);
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;
    p {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 11.649px;
      line-height: 35px;
      color: #fff;
    }
    h3 {
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 25.11px;
      line-height: 30px;
      color: #ffffff;
      margin-bottom: 5rem;
      cursor: pointer;
      @include mobile {
        font-size: 18px;
        line-height: 25px;
      }
    }
    p:last-child {
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 11.649px;
      line-height: 35px;
      color: #ffffff;
      cursor: pointer;
    }
  }
}
