@import '../../responsive/mixins';

.gpt3__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: var(--gradient-bar);
  @include mobile{
    flex-direction: column;
  }
  @include extra_small{
    margin: 4rem 2rem;
  }
  &-content {
    p {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 12px;
      line-height: 30px;
      color: #0e0e0e;
    }
    h3 {
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 24px;
      line-height: 45px;
      color: #000000;
      @include extra_small{
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    @include mobile{
    margin: 2rem 0 0;
  }
    button {
      color: #fff;
      background: #000000;
      border-radius: 40px;
      font-family: var(--font-family);
      font-weight: 700;
      font-size: 18px;
      line-height: 30px;
      padding: 0.5rem 1rem;
      color: #ffffff;
      border: none;
      outline: none;
      cursor: pointer;
      min-width: 150px;
      @include extra_small{
        font-size: 14px;
        line-height: 28px;
      }
    }
  }
}
