@import "../../responsive/mixins";

.gpt3__footer {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-footer);
  &-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    h1 {
      font-family: var(--font-family);
      font-weight: 800;
      font-size: 62px;
      line-height: 75px;
      text-align: center;
      letter-spacing: -0.04em;
      @include tablet {
        font-size: 44px;
        line-height: 50px;
      }
      @include extra_small {
        font-size: 34px;
        line-height: 42px;
      }
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 10rem;
    cursor: pointer;
    p {
      font-family: var(--font-family);
      word-spacing: 2px;
      font-size: 18px;
      line-height: 21px;
      color: #ffffff;
      @include extra_small{
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  &-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    text-align: left;
    div {
      width: 250px;
      margin: 1rem;
      @include extra_small{
        margin: 1rem 0;
      }
    }
    &_logo {
      display: flex;
      flex-direction: column;
      img {
        width: 118px;
        height: 30px;
        margin-bottom: 1rem;
      }
      p {
        font-family: var(--font-family);
        font-size: 12px;
        line-height: 14px;
        color: #fff;
      }
    }
    &_div {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      h4 {
        font-family: var(--font-family);
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        margin-bottom: 1rem;
      }
      p {
        font-family: var(--font-family);
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        margin: 0.5rem 0;
        cursor: pointer;
      }
    }
  }
  &-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    p {
      font-family: var(--font-family);
      font-size: 12px;
      line-height: 14px;
      color: #fff;
    }
  }
}
